.btn-group {
    width: 75%;
}

.btn-group .btn {
    width: 50%;
}

.vertical-center {
    min-width: 100vw; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}